body {
	height: 100%;
}

nav {
	padding-left: 0px !important;
	padding-right: 0px !important; 
}

h1 {
	color: background: rgba(38, 38, 38, 1);
}
.divisor {
	height: 1px;
	background: rgba(0, 0, 0, 0.2);
	flex: 1;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

